{% extends 'base.html.twig' %}
{% import "macro/_service_table.html.twig" as macros %}

{% block title %}Admin - Services Rules{% endblock %}

{% block body %}
    <div class="container mx-auto py-6">
        <h1 class="text-3xl font-bold mb-4">Services Rules</h1>

        {% for service in services %}

            <div class="flex mb-4">
                <h2 class="text-2xl font-bold"> {{ service.name }} </h2>
                <div class="my-auto text-xl"><a class="p-2" href=""><i class="fa fa-plus"></i></a></div> 
            </div>
            {{ macros.service_table(service) }}
        
        {% endfor %}
        
    </div>
{% endblock %}
