{# templates/admin/settings/prices/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin - Add Reservations Rule{% endblock %}

{% block body %}
    <h1>Add Reservations Rule</h1>

    {{ form_start(form) }}
        {% for row in form.children %}
            {{form_row(row)}}
        {% endfor %}
        <button type="submit">Add Rule</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_settings_prices') }}">Back to List</a>
{% endblock %}
