{% import 'macro/_nav_admin.html.twig' as nav %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/jpg" href={{ asset('img/logo-camping.png') }}/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body id="#body" class="bg-cover bg-fixed bg-center overflow-x-hidden" 
	{# style="background-image:url('https://media.discordapp.net/attachments/1072195110453915721/1138478106580090940/bgfornabilbg.png?width=865&height=615')"> #}
		>

		{% block nav %}
			{{ nav.nav() }}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}{% endblock %}
	</body>
</html>
