{% extends 'base.html.twig' %}
{% import "macro/_reservations_table.html.twig" as macros %}

{% block title %}Admin - Reservations Rules{% endblock %}

{% block body %}
    <div class="container mx-auto py-6">
        <h1 class="text-3xl font-bold mb-4">Reservations Rules</h1>

        <h2 class="text-2xl font-bold mb-4">Jours d'arrivées</h2>
        {{ macros.check_table(checkin,true) }}
        
        <h2 class="text-2xl font-bold mb-4">Jours de départ</h2>
        {{ macros.check_table(checkout,false) }}
        
        <h2 class="text-2xl font-bold mb-4">Durée minimum de séjour</h2>
        {{ macros.stay_table(minstay,true) }}
        
        <h2 class="text-2xl font-bold mb-4">Durée maximum de séjour</h2>
        {{ macros.stay_table(maxstay,false) }}
        
    </div>
{% endblock %}
